<h1 class="col-md-12"><%= @user.username %></h1>
<p>
  E-mail: <%= @user.email %>
</p>
<p>
  <%= link_to "Edit Profile", edit_user_path(@user) %>
</p>
<p>
  <%= link_to "Delete Profile", @user, method: :delete %>
</p>
<% @user.favorites.each_with_index do |gif, index| %>
  <%= content_tag :div, class: 'col-md-12' do %>
    <h2><%= gif.category.name %></h2>
  <% end %>
  <%= content_tag :div, class: "col-md-4" do %>
    <%= image_tag gif.image_path, class: "#{gif.category.name}-image-#{index + 1}" %>
  <% end %>
<% end %>
