<%= form_for(@gif, url: admin_gifs_path) do |f| %>
  <p class="text-center">
    Enter new category (one word):
  </p>
  <div class="form-group">
    <%= f.label :category %>
    <%= f.text_field :category, class: "form-control" %>
  </div>
  <p class="text-center">
    --OR select from existing--
  </p>
  <div class="form-group text-center">
    <%= f.label :category_id %>
    <%= f.select :category_id, categories, include_blank: true, class: "form-control" %><br />
  </div>
  <%= f.submit "Generate GIF", class: "btn btn-default" %>
<% end %>
