<!DOCTYPE html>
<html>
<head>
  <title>GifGenerator</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= render partial: "shared/navbar" %>
  <div class="container">
    <% flash.each do |type, msg| %>
      <%= content_tag :div, msg, class: "flash-#{type}" %>
    <% end %>
    <%= yield %>
  </div>

</body>
</html>
